<a href="https://colab.research.google.com/github/IamAther/DS_Esteban/blob/main/Clase%207%20-%20Formato%20de%20Fecha%20en%20DataSet%20con%20variable%20temporal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Trabajar un DataSet con una columna que incluya una variable temporal.

In [11]:
#Librerías Numpy y Pandas
import numpy as np
import pandas as pd

print('** Versiones Actuales | Requeridas **')
print('NumPy: Version Actual:', np.__version__)
print('Pandas: Version Actual:', pd.__version__)

** Versiones Actuales | Requeridas **
NumPy: Version Actual: 1.21.6
Pandas: Version Actual: 1.3.5

In [17]:
#Lectura del DataSet en formato csv
ds = pd.read_csv ('/content/drive/MyDrive/BIT/DB/charts.csv')

#Ver la dimensión del DataSet
print(ds.shape)

#Revisar el DataSet
ds.head(100)

(330087, 7)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18
...,...,...,...,...,...,...,...
95,2021-11-06,96,To Be Loved By You,Parker McCollum,NaN,96,1
96,2021-11-06,97,Ain't Shit,Doja Cat,NaN,24,14
97,2021-11-06,98,Life Goes On,Oliver Tree,NaN,91,2
98,2021-11-06,99,Come Through,H.E.R. Featuring Chris Brown,NaN,64,16
99,2021-11-06,100,Nevada,YoungBoy Never Broke Again,NaN,58,4

In [18]:
print(type(ds))
ds.dtypes

<class 'pandas.core.frame.DataFrame'>

date               object
rank                int64
song               object
artist             object
last-week         float64
peak-rank           int64
weeks-on-board      int64
dtype: object

In [21]:
#Convertimos los valores NaN a 0
ds['last-week']=ds['last-week'].fillna(0)
ds['last-week']=ds['last-week'].astype(int)

#Revisamos
print(ds['last-week'])

0         1
1         2
2         3
3         4
4         5
         ..
330082    0
330083    0
330084    0
330085    0
330086    0
Name: last-week, Length: 330087, dtype: int64

In [23]:
#Vemos las keys
ds.keys()

Index(['date', 'rank', 'song', 'artist', 'last-week', 'peak-rank',
       'weeks-on-board'],
      dtype='object')

In [25]:
#Describimos nuestro DataSet
ds.describe()

                rank      last-week      peak-rank  weeks-on-board
count  330087.000000  330087.000000  330087.000000   330087.000000
mean       50.500929      42.932918      40.970629        9.161785
std        28.866094      30.166474      29.347481        7.618264
min         1.000000       0.000000       1.000000        1.000000
25%        26.000000      16.000000      13.000000        4.000000
50%        51.000000      41.000000      38.000000        7.000000
75%        76.000000      69.000000      65.000000       13.000000
max       100.000000     100.000000     100.000000       90.000000

In [34]:
#Vamos a usar la columna con variable temporal 'date'

ds_date = ds
ds_date['date'] = pd.to_datetime(ds_date['date'], format = '%Y-%m-%d')
ds_date['date'].head(20)

0    2021-11-06
1    2021-11-06
2    2021-11-06
3    2021-11-06
4    2021-11-06
5    2021-11-06
6    2021-11-06
7    2021-11-06
8    2021-11-06
9    2021-11-06
10   2021-11-06
11   2021-11-06
12   2021-11-06
13   2021-11-06
14   2021-11-06
15   2021-11-06
16   2021-11-06
17   2021-11-06
18   2021-11-06
19   2021-11-06
Name: date, dtype: datetime64[ns]

In [36]:
ds_date.dtypes

date              datetime64[ns]
rank                       int64
song                      object
artist                    object
last-week                  int64
peak-rank                  int64
weeks-on-board             int64
dtype: object