<a href="https://colab.research.google.com/github/IamAther/DS_Esteban/blob/main/Clase_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

#Uso de GitHub
### Crear GitHub asociada con Colab
##### Facilita subir nuestros trabajos y recibir feedback del profesor, es una herramienta poderosa para mostrar nuestro trabajo y colaborar con otros científicos de datos y programadores en general

#### Una buena práctica es imprimir las versiones utilizadas y requeridas por nuestros programas, supongo que es algo de etiqueta y buena fé con una comunidad de desarrollo libre.

In [3]:
print('** Versiones Actuales | Requeridas **')
print('Numpy: Versión Actual:',np.__version__)
print('Pandas: Versión Actual:',pd.__version__)

** Versiones Actuales | Requeridas **
Numpy: Versión Actual: 1.21.6
Pandas: Versión Actual: 1.3.5

In [13]:
#Usamos el constructor pd.Series
items = pd.Series(data = np.array([2, 3, 8, 6, 7])) , name = 'Precios', index = ['veg1', 'cer1', 'frut1', 'frut2']
print(items)

SyntaxError: ignored

In [22]:
df = pd.read_csv(filepath_or_buffer='https://storage.googleapis.com/datasets-academy/Track%20Data%20Science/01_Intro_Python/PWT91.csv'
                  ,sep =',',
                    decimal = '.')
#Es una buena práctica hacer un scaneo de la información y tener presente
#como se dividen los datos, los puntos decimales

df.head(100)

   countrycode country  year        rgdpo       pop       emp  avh        hc
0          ABW   Aruba  1950          NaN       NaN       NaN  NaN       NaN
1          ABW   Aruba  1951          NaN       NaN       NaN  NaN       NaN
2          ABW   Aruba  1952          NaN       NaN       NaN  NaN       NaN
3          ABW   Aruba  1953          NaN       NaN       NaN  NaN       NaN
4          ABW   Aruba  1954          NaN       NaN       NaN  NaN       NaN
..         ...     ...   ...          ...       ...       ...  ...       ...
95         AGO  Angola  1977  27101.01953  8.130988  4.111429  NaN  1.033385
96         AGO  Angola  1978  24654.34766  8.376147  4.209530  NaN  1.035939
97         AGO  Angola  1979  24989.89453  8.641521  4.290003  NaN  1.038498
98         AGO  Angola  1980  25335.56836  8.929900  4.300710  NaN  1.041064
99         AGO  Angola  1981  25177.26172  9.244507  4.429433  NaN  1.050381

[100 rows x 8 columns]

In [23]:
#Para conocer las dimensiones de mi dt es bueno conocer la siguiente función
df.shape

(12376, 8)

In [32]:
print(type(df))
df.dtypes
#Para convertir el tipo de dato de una columna podemos hacer:
#df['pop'].astype(int)
#Debido a que puede haber valores no finitos convertirlo puede ser un problema
#Debemos alterar estos datos antes
df ['pop'] = df['pop'].fillna(0)
#Ahora sí podemos convertir la columna
df['pop'].astype(int)

#Antes de reasignar df['pop'] debemos asegurarnos que esto sea lo que deseamos
#porque no podemos devolverlo y esto puede tener consecuencias graves.

<class 'pandas.core.frame.DataFrame'>

0         0
1         0
2         0
3         0
4         0
         ..
12371    15
12372    15
12373    15
12374    16
12375    16
Name: pop, Length: 12376, dtype: int64

In [33]:
df

,countrycode,country,year,rgdpo,pop,emp,avh,hc
0,ABW,Aruba,1950,NaN,0.000000,NaN,NaN,NaN
1,ABW,Aruba,1951,NaN,0.000000,NaN,NaN,NaN
2,ABW,Aruba,1952,NaN,0.000000,NaN,NaN,NaN
3,ABW,Aruba,1953,NaN,0.000000,NaN,NaN,NaN
4,ABW,Aruba,1954,NaN,0.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
12371,ZWE,Zimbabwe,2013,28329.81055,15.054506,7.914061,NaN,2.504635
12372,ZWE,Zimbabwe,2014,29355.75977,15.411675,8.222112,NaN,2.550258
12373,ZWE,Zimbabwe,2015,29150.75000,15.777451,8.530669,NaN,2.584653
12374,ZWE,Zimbabwe,2016,29420.44922,16.150362,8.839398,NaN,2.616257
12375,ZWE,Zimbabwe,2017,30940.81641,16.529903,9.181251,NaN,2.648248

##Repetir el proceso de df['pop'] con las columnas rgdpo, emp, avh y hc

In [34]:
#Columna rgdpo
df['rgdpo']

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
            ...
12371    28329.81055
12372    29355.75977
12373    29150.75000
12374    29420.44922
12375    30940.81641
Name: rgdpo, Length: 12376, dtype: float64

In [36]:
#Reasignar rgdpo
df['rgdpo'] = df['rgdpo'].fillna(0)
df['rgdpo']

0            0.00000
1            0.00000
2            0.00000
3            0.00000
4            0.00000
            ...
12371    28329.81055
12372    29355.75977
12373    29150.75000
12374    29420.44922
12375    30940.81641
Name: rgdpo, Length: 12376, dtype: float64

In [38]:
#Columna emp
df['emp']

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
12371    7.914061
12372    8.222112
12373    8.530669
12374    8.839398
12375    9.181251
Name: emp, Length: 12376, dtype: float64

In [40]:
#Reasignar emp
df['emp'] = df['emp'].fillna(0)
df['emp']

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
12371    7.914061
12372    8.222112
12373    8.530669
12374    8.839398
12375    9.181251
Name: emp, Length: 12376, dtype: float64

In [41]:
#Columna avh
df['avh']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
12371   NaN
12372   NaN
12373   NaN
12374   NaN
12375   NaN
Name: avh, Length: 12376, dtype: float64

In [43]:
#Reasignar avh
df['avh'] = df['avh'].fillna(0)
df['avh']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
12371    0.0
12372    0.0
12373    0.0
12374    0.0
12375    0.0
Name: avh, Length: 12376, dtype: float64

In [44]:
#Columna hc
df['hc']

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
12371    2.504635
12372    2.550258
12373    2.584653
12374    2.616257
12375    2.648248
Name: hc, Length: 12376, dtype: float64

In [46]:
#Reasignar hc
df['hc'] = df['hc'].fillna(0)
df['hc']

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
12371    2.504635
12372    2.550258
12373    2.584653
12374    2.616257
12375    2.648248
Name: hc, Length: 12376, dtype: float64

In [47]:
df

,countrycode,country,year,rgdpo,pop,emp,avh,hc
0,ABW,Aruba,1950,0.00000,0.000000,0.000000,0.0,0.000000
1,ABW,Aruba,1951,0.00000,0.000000,0.000000,0.0,0.000000
2,ABW,Aruba,1952,0.00000,0.000000,0.000000,0.0,0.000000
3,ABW,Aruba,1953,0.00000,0.000000,0.000000,0.0,0.000000
4,ABW,Aruba,1954,0.00000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...
12371,ZWE,Zimbabwe,2013,28329.81055,15.054506,7.914061,0.0,2.504635
12372,ZWE,Zimbabwe,2014,29355.75977,15.411675,8.222112,0.0,2.550258
12373,ZWE,Zimbabwe,2015,29150.75000,15.777451,8.530669,0.0,2.584653
12374,ZWE,Zimbabwe,2016,29420.44922,16.150362,8.839398,0.0,2.616257
12375,ZWE,Zimbabwe,2017,30940.81641,16.529903,9.181251,0.0,2.648248